.technology{
    padding: 3rem 7%;
}
.lorem{
    font-weight: 600;
}
.main-technology{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: -100px;
}
.inner-technology{
    flex: 1 1 300px;
    padding: 3rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url("/src/assets/images/backgroung-pattern-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
}

.inner-technology span{
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.inner-technology:hover span{
    width: 100%;
}

.inner-technology:hover i{
    
    color: white;
}
.inner-technology:hover h2{
    color: white;
}
.inner-technology:hover p{
    color: white;
}
.inner-technology i{
    font-size: 48px;
    color: var(--maincolor);
}

.inner-technology h2{
    font-size: 2.5rem;
    padding: 1rem 0;
}
.inner-technology p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem 0;
}